<form class="form-container d-flex flex-column align-items-center" action="/records/{{id}}?_method=PUT" method="post">

  <div class="row g-3">
    <div class="col-auto form-hint">*必填欄位</div>
    <div class="col-auto form-title">請修改你的支出</div>
  </div>

  <div class="row g-3">
    <div class="col-auto">
      <label for="input-name" class="col-form-label">名稱* ：</label>
    </div>
    <div class="col-auto">
      <input type="text" id="input-name" class="form-control" name="name" value="{{record.name}}" required>
    </div>
  </div>

  <div class="row g-3">
    <div class="col-auto">
      <label for="input-date" class="col-form-label">日期* ：</label>
    </div>
    <div class="col-auto">
      <input type="date" id="input-date" class="form-control" name="date" value="{{record.date}}" required>
    </div>
  </div>

  <div class="row g-3">
    <div class="col-auto">
      <label for="input-category" class="col-form-label">類別* ：</label>
    </div>
    <div class="col-auto">
      <select class="form-select" id="input-category" name="categoryId" value="{{record.categoryId}}">
        {{#each categories}}
        <option value="{{this.id}}" {{checkCategory this.id ../ recordId}}>
          {{name}}
        </option>
        {{/each}}
      </select>
    </div>
  </div>

  <div class="row g-3">
    <div class="col-auto">
      <label for="input-amount" class="col-form-label">金額* ：</label>
    </div>
    <div class="col-auto">
      <input type="number" id="input-amount" class="form-control" name="amount" value="{{record.amount}}" required>
      <button type="submit" class="submit-btn btn btn-dark">送出</button>
    </div>
  </div>

</form>