<div class="container d-flex flex-column mb-3">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
      aria-expanded="false">
      類別
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#">家居物業</a></li>
      <li><a class="dropdown-item" href="#">交通出行</a></li>
      <li><a class="dropdown-item" href="#">休閒娛樂</a></li>
      <li><a class="dropdown-item" href="#">餐飲食品</a></li>
      <li><a class="dropdown-item" href="#">其他</a></li>
    </ul>
  </div>
  <div class="total-amount">
    <div class="total-text">總金額：</div>
    <div class="total-number">{{totalAmount}}</div>
  </div>
  <div class=" records-container">
    {{#each records}}
    <div class="record d-flex align-items-center">
      <i class="{{icon}}"></i>
      <div class="p-2 flex-grow-1">
        <div class="record-text">{{name}}</div>
        <div class="record-date">{{date}}</div>
      </div>
      <div class="p-2 ">{{amount}}</div>
      <a class="edit btn btn-success btn-sm" href="/records/{{_id}}/edit">修改</a>
      <button type="button" class="delete btn btn-danger btn-sm">刪除</button>
    </div>
    {{/each}}
  </div>
  <a class="create btn btn-dark" href="/records/new">新增支出</a>
</div>